// extra small screens
$screen-xs-min: 450px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 650px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Short devices (moto g4, galaxy s5)
$screen-short-min: 800px;

// shorter devices (iPhone 6/7/8)
$screen-shorter-min: 650px;

// Extra small devices
@mixin xs {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
}

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }